.add-task-input-tag {
    margin-right: 10px;
    padding: 13px;
    border-radius: 5px;
    width: 500px;
    border: none;
}

.add-task-place-tag {
    margin-right: 10px;
    padding: 13px;
    border-radius: 5px;
    width: 250px;
    border: none;
}

.add-task-button {
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:rgba(0, 252, 105, 0.74);
    color: white;
    font-weight: bold;
    border-radius: 5px;;
    width: 100px;
    border-width: 1px;
    border-color: rgba(0, 252, 105, 0.74);
    border-right: none;
    border-left: none;
}

