.task-list-container {
    background: rgba(224, 224, 224, 0.699);
    border-radius: 5px;;
}

.task-item-container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check-task {
    text-align: left;
    color: black;
}

.task-buttons {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.task-checkbox {
    padding-right: 20px;
    width: 20px;
    height: 20px;
}

.task-name-label {
    font-size: 22px;
    padding-left: 16px;
}

.task-name-form {
    display: flex;
    align-items: center;
}

.edit-action-button {
    margin-left: 10px;
    background-color: rgba(53, 117, 255, 0.938);
    color:white;
    font-weight: bold;
    border-radius: 5px;;
    width: 100px;
    padding: 0;
    border-width: 1px;
    border-color: rgba(53, 117, 255, 0.938);
    border-right: none;
    border-left: none;
    
}

.delete-action-button {
    margin-left: 10px;
    background-color: rgb(231, 81, 81);
    color:white;
    font-weight: bold;
    border-radius: 5px;;
    width: 100px;
    padding: 0;
    border-width: 1px;
    border-color: rgb(231, 81, 81);
    border-right: none;
    border-left: none;
}

.up-down-container {
    display: inline-flex;
    flex-direction: column;
    padding-left: 5px;
}

.task-actions-ed-buttons-container {
    display: inline-block;
}

.task-action-up-arrow {
    border: solid;
    background: none;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.task-action-down-arrow {
    border: solid;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}